@font-face {
  font-family: 'Alwyn';
  src: url('fonts/alwyn.eot'); /* IE9 Compat Modes */
  src: url('fonts/alwyn.ttf')  format('truetype'); /* Safari, Android, iOS */
}

#calc {
    background-color: #edebd6;
    padding: 20px;
    font-family: Alwyn, Arial, Helvetica, sans-serif; 
}

#calc .calc-group {
    background-color: white;
    border-radius: 15px;
    padding: 10px 20px 15px 15px;
    margin: 20px 10px 20px 10px;
}

#calc .calc-group .form-control {
    border-radius: 4px;
}

#calc .calc-group .input-group-addon {
    border: none;
    background: none;
    font-size: 1.5em;
}


/* RIGHT SECTION */

#calc .right {
    margin: 20px 0px 20px 0px;
}

#calc .repayments {
    background-color: 58585a;
    margin-left: 30px;
    padding: 0 30px 5px 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#calc .repayments h3 {
    font-size: 2em;
}

#calc .repayments h4 {
    font-size: 1.5em;
}

#calc .plus {
    font-size: 1.5em;
}

#calc .yellow {
    color: #ffcb08;
}

#calc .silver {
    color: #919192;
}

#calc .black {
    color: black;
}

#calc .white {
    color: white;
}

#calc .balloon {
    background-color: white;
    padding: 0 0 0 40px;
}

#calc .details {
    padding: 0 0 0 30px;
}

#calc .bluebird * {
    display: inline-block;
}

#calc .bluebird {
    border-radius: 15px;
    background-color: #ffcb08;
}

#calc .bluebird .apply {
    font-size: 4em;
}

#calc .bluebird .bird {
    float: right;
    position: relative;
    bottom: 20px;
    transform: scale(1.2);
}