doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Muhammad Osama Arshad - Programmer
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="apple-touch-icon" href="apple-touch-icon.png")

        link(rel="stylesheet", href="./style.css" inline)
    body
        h1 Finally, Gulp is configured properly

        script(src="./app.js" inline)

        // Google Analytics: change UA-XXXXX-Y to be your site"s ID.
        script  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date; ga("create","UA-XXXXX-Y","auto");ga("send","pageview")
        script(src="https://www.google-analytics.com/analytics.js" async defer)
