doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Muhammad Osama Arshad - Likes JavaScript
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="apple-touch-icon" href="apple-touch-icon.png")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.10/css/all.css", integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg", crossorigin="anonymous")
        link(rel="styleshee", href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,700")
        link(rel="stylesheet", href="./style.css" inline)
    body
        aside.sidebar
            section.profile
                img.picture(src="https://avatars3.githubusercontent.com/u/14261053?s=460&v=4")
                h1.name Muhammad Osama Arshad
                h3.title JavaScript and a little bit of Python
            section.details
                p.particular
                    i.fas.fa-map-marker-alt
                    span.text Lahore, Pakistan
                p.particular
                    i.fas.fa-envelope
                    span.text muhammadosamaarshad@gmail.com
                p.particular
                    i.fas.fa-link
                    a.text(href="https://alazierplace.com" target="_blank") alazierplace.com
            section.social-media

        div.main
            section.about
                h1
                    i.fas.fa-address-card
                    | About
                p Married and settled in my hometown of Lahore, I'm a full-stack developer looking for a challenge. I started my career with simple freelance front-end while working as a clerk in my university library and since have made my way to becoming a professional software engineer. I have extensive experience in both front-end and back-end technologies and have familiarity with DevOps tools. On the front-end side my preferred tools are Pug, SCSS and VanillaJS or React.js. On the back-end I'm most comfortable with Express.js, Django, WordPress, PostgreSQL and MongoDB. While at work I take special care in writing robust, clean and efficient code no matter which tech-stack or framework I'm working in and in my free time I enjoy video gaming and reading.

            section.experience
                h1
                    i.fas.fa-briefcase
                    | Work Experience
                article
                    span.designation
                        strong Software Engineer,
                        a(href="https://arbisoft.com" target="_blank") Arbisoft
                    p.duration June, 2017 - Present
                    p.no-top Arbisoft is one of the fastest growing software companies of Pakistan. I work here as a full-stack software developer. Here I have had the chance to work on large scale projects involving integration of multiple independent systems. I developed new features for Open edX and Node.js based projects while also developing the UI using jQuery, Backbone.js and React.js. I also assisted the DevOps team in launching our project by helping configure Node.js based delpoyments.

                article
                    span.designation
                        strong Freelance Web Developer,
                        a(href="https://fiverr.com" targer="_blank") Fiverr.com
                    p.duration May, 2016 - May, 2017
                    p.no-top During my final year at UET, Lahore I worked freelance during my free time. I offered services in JavaScript devlopment, PSD to HTML conversions, WordPress customization and development and web form development.

                article
                    span.designation
                        strong Junior Clerk,
                        a(href="https://" target="_blank") National Library of Engineering Sciences
                    p.duration Oct, 2014 - June, 2017
                    p.no-top I started working as a clerk in my university's library during my 3rd semester. I worked in the circulation section of the library and was responsible for issuance and return of books.

            section.projects



        script(src="./app.js" inline)

        // Google Analytics: change UA-XXXXX-Y to be your site"s ID.
        script  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date; ga("create","UA-XXXXX-Y","auto");ga("send","pageview")
        script(src="https://www.google-analytics.com/analytics.js" async defer)
